{"name": "{{.Name}}","hex": "{{.Hex}}","rgb": [{{index .RGB 0}}, {{index .RGB 1}}, {{index .RGB 1}}],"cmyk": [{{index .CMYK 0}}, {{index .CMYK 1}}, {{index .CMYK 2}}],"hsv": [{{index .HSV 0}}, {{index .HSV 1}}, {{index .HSV 2}}],"hsl": [{{index .HSL 0}}, {{index .HSL 1}}, {{index .HSL 2}}],"lab": [{{index .LAB 0}}, {{index .LAB 1}}, {{index .LAB 2}}],"hcg": [{{index .HCG 0}}, {{index .HCG 1}}, {{index .HCG 2}}],"hwb": [{{index .HWB 0}}, {{index .HWB 1}}, {{index .HWB 2}}],"xyz": [{{index .XYZ 0}}, {{index .XYZ 1}}, {{index .XYZ 2}}]}