<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kaichu.paletter</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4BD1B1BB-8DBD-4284-BEF0-320867C09B1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7437661B-BC74-4A03-B545-2CCF454C28E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7437661B-BC74-4A03-B545-2CCF454C28E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3A81E39-FDCB-4C24-BF11-D6D0CBA24FB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>906B8302-0F8A-48AC-BC99-E75F0E6235E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F6A79AD-6307-4E20-A083-47FA8BA1A39C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3A81E39-FDCB-4C24-BF11-D6D0CBA24FB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDE21F8E-FEBE-4D2A-97FF-40C012E5243C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C1FBD88C-51C8-4ABF-8D7E-3D8FC9DB8DEF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0F6A79AD-6307-4E20-A083-47FA8BA1A39C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C1FBD88C-51C8-4ABF-8D7E-3D8FC9DB8DEF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>906B8302-0F8A-48AC-BC99-E75F0E6235E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D2555A1D-5294-4F54-85AD-47C99B6B78EB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A6CD7524-672F-40B7-8CBE-90F58CD7F67F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>52A58F86-699F-4882-9175-C246575BAEE9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>KAI CHU CHUNG</string>
	<key>description</key>
	<string>Extract color from an image</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paletter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BDE21F8E-FEBE-4D2A-97FF-40C012E5243C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} copied</string>
				<key>title</key>
				<string>Paletter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0F6A79AD-6307-4E20-A083-47FA8BA1A39C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>paletter</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>./exe paletter "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Extract color from an image</string>
				<key>title</key>
				<string>Paletter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7437661B-BC74-4A03-B545-2CCF454C28E9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4BD1B1BB-8DBD-4284-BEF0-320867C09B1D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>copy</string>
						<key>uid</key>
						<string>C1FBD88C-51C8-4ABF-8D7E-3D8FC9DB8DEF</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy_all_separate</string>
						<key>outputlabel</key>
						<string>copy separate</string>
						<key>uid</key>
						<string>D2555A1D-5294-4F54-85AD-47C99B6B78EB</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>search</string>
						<key>outputlabel</key>
						<string>search</string>
						<key>uid</key>
						<string>52A58F86-699F-4882-9175-C246575BAEE9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C3A81E39-FDCB-4C24-BF11-D6D0CBA24FB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>for var in "$@"
do
    echo "$var" | pbcopy
	sleep 0.13
done

echo $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>906B8302-0F8A-48AC-BC99-E75F0E6235E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>A6CD7524-672F-40B7-8CBE-90F58CD7F67F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-devtoys

Extract color from an image

![](./alfred-paletter.png)

## Features

- support image format: `jpg`, `png`, `gif`
- Local file / base64 image data URI / `http` and `https` image source URL
- copy color schema(s) to clipboard

## Requires
- Preferably Alfred 5

## Configuration
- Number of colors to extract
- Enable Color Hex starting with #
- Enable copying each color hex as a clipboard history

## Change Log

### 0.1.0
- Initial release

https://github.com/cage1016/alfred-paletter</string>
	<key>uidata</key>
	<dict>
		<key>0F6A79AD-6307-4E20-A083-47FA8BA1A39C</key>
		<dict>
			<key>xpos</key>
			<real>945</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4BD1B1BB-8DBD-4284-BEF0-320867C09B1D</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>7437661B-BC74-4A03-B545-2CCF454C28E9</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>906B8302-0F8A-48AC-BC99-E75F0E6235E1</key>
		<dict>
			<key>note</key>
			<string>copy each color hex as one clipboard history</string>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>A6CD7524-672F-40B7-8CBE-90F58CD7F67F</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>BDE21F8E-FEBE-4D2A-97FF-40C012E5243C</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>C3A81E39-FDCB-4C24-BF11-D6D0CBA24FB0</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>7</string>
				<key>placeholder</key>
				<string>digital</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>recommend 1 ~ 10</string>
			<key>label</key>
			<string>Number of Color</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>number_of_color</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>starting with #</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Colors Hex</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>colors_hex_with_hash</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>copying each color Hex as a clipboard history</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Clipboard</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>copy_all_separate</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/cage1016/alfred-paletter</string>
</dict>
</plist>
