<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kaichu.paletter</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0A54CF84-5498-437A-8265-AF4509CA3388</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BA164B2-D5C9-4FBB-887B-A88D092373E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16DCA28F-9A99-491E-9BB0-57DBF70F4797</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BDF05E1-0A5F-456C-8A34-6BE6BB0EE124</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25300FE8-5B1F-4A6C-9340-AF0B85B840E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>498E9573-83D4-4B21-B9DE-6BE8ADE5BDBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EB0E8A85-85CA-4F64-8041-4C6929320C6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39663EF2-3431-451A-AC12-D3BE7A1C5A75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB0E8A85-85CA-4F64-8041-4C6929320C6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CC7D7F17-7A96-4D5C-B2B7-E7E8603F0160</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4BD1B1BB-8DBD-4284-BEF0-320867C09B1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BDB2B19-2885-4E2C-861E-0C099CC9D88E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C2A7462-8A13-4B86-A304-0F107BCDA619</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7437661B-BC74-4A03-B545-2CCF454C28E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C9779DF-E272-4419-8224-E69B738191BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F6A79AD-6307-4E20-A083-47FA8BA1A39C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61ED8874-5B20-4E6D-ABF7-5C00384F2093</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BA164B2-D5C9-4FBB-887B-A88D092373E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A09E38C-AB06-4C7C-B8F2-BBF125383602</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F6A79AD-6307-4E20-A083-47FA8BA1A39C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7437661B-BC74-4A03-B545-2CCF454C28E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3A81E39-FDCB-4C24-BF11-D6D0CBA24FB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F4A7FBD1-CD4F-441C-87D7-9B66F3B693BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BDF05E1-0A5F-456C-8A34-6BE6BB0EE124</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C9779DF-E272-4419-8224-E69B738191BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7437661B-BC74-4A03-B545-2CCF454C28E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CD7346D4-0DBB-4FFD-B29C-BE7A28648906</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7437661B-BC74-4A03-B545-2CCF454C28E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5DF353DA-47CB-4068-9711-20F8DE699C61</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BDB2B19-2885-4E2C-861E-0C099CC9D88E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C9779DF-E272-4419-8224-E69B738191BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7437661B-BC74-4A03-B545-2CCF454C28E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BB9366E2-B897-42D3-B4D8-88B441E40B97</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>906B8302-0F8A-48AC-BC99-E75F0E6235E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A09E38C-AB06-4C7C-B8F2-BBF125383602</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3A81E39-FDCB-4C24-BF11-D6D0CBA24FB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25300FE8-5B1F-4A6C-9340-AF0B85B840E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C1FBD88C-51C8-4ABF-8D7E-3D8FC9DB8DEF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>39663EF2-3431-451A-AC12-D3BE7A1C5A75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D2555A1D-5294-4F54-85AD-47C99B6B78EB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C975511B-BC32-4F94-BFFA-C3BCDA3A2886</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7437661B-BC74-4A03-B545-2CCF454C28E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3D85CD8-BE68-486A-8412-F7357A47D0D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDE21F8E-FEBE-4D2A-97FF-40C012E5243C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB0E8A85-85CA-4F64-8041-4C6929320C6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3D85CD8-BE68-486A-8412-F7357A47D0D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C1FBD88C-51C8-4ABF-8D7E-3D8FC9DB8DEF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6A09E38C-AB06-4C7C-B8F2-BBF125383602</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C1FBD88C-51C8-4ABF-8D7E-3D8FC9DB8DEF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>906B8302-0F8A-48AC-BC99-E75F0E6235E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4F5CDDA0-7FFC-4B0B-8322-3B41E18CF792</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0A54CF84-5498-437A-8265-AF4509CA3388</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>52A58F86-699F-4882-9175-C246575BAEE9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>61ED8874-5B20-4E6D-ABF7-5C00384F2093</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C3945ADC-8538-45EC-B8BF-5C9458C58EFA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>KAI CHU CHUNG</string>
	<key>description</key>
	<string>Extract color from an image</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paletter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BDE21F8E-FEBE-4D2A-97FF-40C012E5243C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>E3D85CD8-BE68-486A-8412-F7357A47D0D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Open With Paletter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>16DCA28F-9A99-491E-9BB0-57DBF70F4797</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?(?:jpg|jpeg|gif|png|tiff|tif|bmp|webp)$</string>
						<key>outputlabel</key>
						<string>URL</string>
						<key>uid</key>
						<string>CD7346D4-0DBB-4FFD-B29C-BE7A28648906</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^(data:)(image\/([png|gif|tiff|bmp|jpeg|webp]*))(;charset=[\w-]+|;base64){0,1},(.*)</string>
						<key>outputlabel</key>
						<string>Data URI</string>
						<key>uid</key>
						<string>5DF353DA-47CB-4068-9711-20F8DE699C61</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7BDF05E1-0A5F-456C-8A34-6BE6BB0EE124</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:msg}</string>
				<key>title</key>
				<string>Paletter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0F6A79AD-6307-4E20-A083-47FA8BA1A39C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>msg</key>
					<string>Query invald. Try a different query?</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5C9779DF-E272-4419-8224-E69B738191BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./exe copy "$1" </string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Paletter Copy</string>
				<key>title</key>
				<string>Paletter Copy</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>25300FE8-5B1F-4A6C-9340-AF0B85B840E9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./exe clearPng cmd-copy</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>498E9573-83D4-4B21-B9DE-6BE8ADE5BDBC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4BD1B1BB-8DBD-4284-BEF0-320867C09B1D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>./exe paletter "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Extract color from an image</string>
				<key>title</key>
				<string>Paletter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7437661B-BC74-4A03-B545-2CCF454C28E9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>msg</key>
					<string>{query} Copied</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6A09E38C-AB06-4C7C-B8F2-BBF125383602</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^.*\.(jpg|jpeg|png|gif|webp|bmp|tif|tiff)$</string>
						<key>outputlabel</key>
						<string>Valid</string>
						<key>uid</key>
						<string>BB9366E2-B897-42D3-B4D8-88B441E40B97</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8BDB2B19-2885-4E2C-861E-0C099CC9D88E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy_palette</string>
						<key>outputlabel</key>
						<string>copy_palette</string>
						<key>uid</key>
						<string>C1FBD88C-51C8-4ABF-8D7E-3D8FC9DB8DEF</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>export</string>
						<key>outputlabel</key>
						<string>export</string>
						<key>uid</key>
						<string>D2555A1D-5294-4F54-85AD-47C99B6B78EB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C3A81E39-FDCB-4C24-BF11-D6D0CBA24FB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>sortBy</key>
				<integer>0</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<false/>
				<key>stackBrowserView</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>4BA164B2-D5C9-4FBB-887B-A88D092373E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>com.microsoft.bmp</string>
					<string>org.webmproject.webp</string>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.tiff</string>
				</array>
				<key>name</key>
				<string>Open with Paletter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>4C2A7462-8A13-4B86-A304-0F107BCDA619</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>copy</string>
						<key>uid</key>
						<string>C1FBD88C-51C8-4ABF-8D7E-3D8FC9DB8DEF</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy_all_separate</string>
						<key>outputlabel</key>
						<string>copy_all_separate</string>
						<key>uid</key>
						<string>4F5CDDA0-7FFC-4B0B-8322-3B41E18CF792</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>svc</string>
						<key>outputlabel</key>
						<string>svc</string>
						<key>uid</key>
						<string>52A58F86-699F-4882-9175-C246575BAEE9</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>image</string>
						<key>outputlabel</key>
						<string>image</string>
						<key>uid</key>
						<string>C3945ADC-8538-45EC-B8BF-5C9458C58EFA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>EB0E8A85-85CA-4F64-8041-4C6929320C6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./exe export "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Paletter Export</string>
				<key>title</key>
				<string>Paletter Export</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>39663EF2-3431-451A-AC12-D3BE7A1C5A75</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>for var in "$@"
do
    echo "$var" | pbcopy
	sleep 0.13
done

echo $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>906B8302-0F8A-48AC-BC99-E75F0E6235E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>paletterf</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Find file and open in Paletter</string>
				<key>title</key>
				<string>Find and open with Paletter</string>
				<key>types</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>com.microsoft.bmp</string>
					<string>org.webmproject.webp</string>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.tiff</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>C975511B-BC32-4F94-BFFA-C3BCDA3A2886</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./exe generator "$1" -t svg</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A54CF84-5498-437A-8265-AF4509CA3388</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./exe clearPng cmd-paletter</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F4A7FBD1-CD4F-441C-87D7-9B66F3B693BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./exe clearPng cmd-export</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CC7D7F17-7A96-4D5C-B2B7-E7E8603F0160</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./exe generator "$1" -t image</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>61ED8874-5B20-4E6D-ABF7-5C00384F2093</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-devtoys

Extract color from an image

![](./alfred-paletter.png)

## Features

- support image format: `jpg`, `png`, `gif`, `bmp`, `webp` and `tiff`
- Local file / base64 image data URI / `http` and `https` image source URL
- copy color schema(s) to clipboard

## Requires
- Preferably Alfred 5

## Configuration
- Number of colors to extract
- Enable Color Hex starting with #
- Enable copying each color hex as a clipboard history

## Usage

![](./usage.jpg)

- File Filter / File Action 
- Hokey
- Universal Action with Base64 Image Data URI and image URL

## Change Log

### 0.2.1
- revised README and new demo.gif for better user experience

### 0.2.0
- add `bmp`, `webp` and `tiff` support
- add dynamic color number setup by ` +number` ex: `paletter file-path +10`
- revised items wording

### 0.1.0
- Initial release

https://github.com/cage1016/alfred-paletter</string>
	<key>uidata</key>
	<dict>
		<key>0A54CF84-5498-437A-8265-AF4509CA3388</key>
		<dict>
			<key>note</key>
			<string>generate svg</string>
			<key>xpos</key>
			<real>1195</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>0F6A79AD-6307-4E20-A083-47FA8BA1A39C</key>
		<dict>
			<key>xpos</key>
			<real>1515</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>16DCA28F-9A99-491E-9BB0-57DBF70F4797</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>25300FE8-5B1F-4A6C-9340-AF0B85B840E9</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>39663EF2-3431-451A-AC12-D3BE7A1C5A75</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>498E9573-83D4-4B21-B9DE-6BE8ADE5BDBC</key>
		<dict>
			<key>note</key>
			<string>remove cmd-copy png files</string>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>4BA164B2-D5C9-4FBB-887B-A88D092373E9</key>
		<dict>
			<key>xpos</key>
			<real>1515</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>4BD1B1BB-8DBD-4284-BEF0-320867C09B1D</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>4C2A7462-8A13-4B86-A304-0F107BCDA619</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>5C9779DF-E272-4419-8224-E69B738191BC</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>61ED8874-5B20-4E6D-ABF7-5C00384F2093</key>
		<dict>
			<key>note</key>
			<string>generate image</string>
			<key>xpos</key>
			<real>1195</real>
			<key>ypos</key>
			<real>915</real>
		</dict>
		<key>6A09E38C-AB06-4C7C-B8F2-BBF125383602</key>
		<dict>
			<key>xpos</key>
			<real>1390</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>7437661B-BC74-4A03-B545-2CCF454C28E9</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>7BDF05E1-0A5F-456C-8A34-6BE6BB0EE124</key>
		<dict>
			<key>note</key>
			<string>Support http(s) image URL and Base64 Data URI</string>
			<key>xpos</key>
			<real>292</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>8BDB2B19-2885-4E2C-861E-0C099CC9D88E</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>906B8302-0F8A-48AC-BC99-E75F0E6235E1</key>
		<dict>
			<key>note</key>
			<string>copy each color hex as one clipboard history</string>
			<key>xpos</key>
			<real>1195</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>BDE21F8E-FEBE-4D2A-97FF-40C012E5243C</key>
		<dict>
			<key>xpos</key>
			<real>1515</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>C3A81E39-FDCB-4C24-BF11-D6D0CBA24FB0</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>C975511B-BC32-4F94-BFFA-C3BCDA3A2886</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>CC7D7F17-7A96-4D5C-B2B7-E7E8603F0160</key>
		<dict>
			<key>note</key>
			<string>remove cmd-export png files</string>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>E3D85CD8-BE68-486A-8412-F7357A47D0D1</key>
		<dict>
			<key>xpos</key>
			<real>1385</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>EB0E8A85-85CA-4F64-8041-4C6929320C6D</key>
		<dict>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>F4A7FBD1-CD4F-441C-87D7-9B66F3B693BF</key>
		<dict>
			<key>note</key>
			<string>remove cmd-paletter png files</string>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>7</string>
				<key>placeholder</key>
				<string>digital</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>recommend 1 ~ 10</string>
			<key>label</key>
			<string>Number of Color</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>number_of_color</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.2.1</string>
	<key>webaddress</key>
	<string>https://github.com/cage1016/alfred-paletter</string>
</dict>
</plist>
